* {
  padding: 0;
  margin: 0;
  input,
  textarea,
  button {
    font-family: inherit;
  }
}

:root {
  font-family: "Poppins", sans-serif;
  --primary-color: rgb(135, 206, 235);
  background-color: white;
}

.main-container {
  display: flex;
  gap: 1rem;
  height: 100vh;
  width: 100%;
}

.left-container {
  height: 100%;
  width: 20%;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
  border-right: 1px solid grey;
}

#note-container {
  display: grid;
  gap: 0.5rem;
}

.create-note {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 80px;
  width: 100%;
  border: none;
  border-radius: 10px;
  margin: 1rem 0;
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
}

.create-note:hover {
  cursor: pointer;
  background-color: rgb(171, 220, 241);
}

.create-note:active {
  cursor: pointer;
  background-color: rgb(171, 220, 241);
}

.create-note svg {
  height: 1.5rem;
  width: 1.5rem;
  stroke-width: 2;
}

.note-card {
  height: 160px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  box-sizing: border-box;
}

.note-card:hover {
  cursor: pointer;
  background-color: rgb(171, 220, 241);
  transition: all 0.2s;
}

.note-card:active {
  background-color: rgb(171, 220, 241);
}

.selected-note-card {
  background-color: rgb(171, 220, 241);
}

.note-title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note-text {
  color: grey;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note-date {
  color: grey;
  text-align: right;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: italic;
}

.right-container {
  display: flex;
  gap: 1rem;
  height: 100%;
  width: 80%;
  padding: 1rem;
  box-sizing: border-box;
}

.template-for-notes {
  height: 100%;
  width: 80%;
}

input {
  appearance: none;
  border: none;
  outline: none;
  field-sizing: content;
  font-size: 3rem;
  width: 100%;
  font-weight: bold;
}

input::placeholder {
  font-size: 3rem;
  font-weight: bold;
  color: grey;
}

input:hover {
  cursor: pointer;
}

textarea {
  appearance: none;
  border: none;
  outline: none;
  field-sizing: content;
  resize: none;
  font-size: 1.5rem;
  width: 100%;
}

textarea::placeholder {
  appearance: none;
  border: none;
  outline: none;
  field-sizing: content;
  resize: none;
  font-size: 1.5rem;
  width: 100%;
  color: grey;
}

textarea:hover {
  cursor: pointer;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  height: 100%;
  width: 20%;
}

.right-container-button {
  height: 80px;
  width: 80px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 1rem;
}

.right-container-button:hover {
  cursor: pointer;
  background-color: rgb(171, 220, 241);
}

.right-container-button:active {
  cursor: pointer;
  background-color: rgb(171, 220, 241);
}

#save-button svg {
  height: 40px;
  width: 40px;
}

#delete-button svg {
  height: 40px;
  width: 40px;
}

.blue-background {
  background-color: blue;
}
.blue-background:hover {
  background-color: rgb(0, 191, 255);
}

.orange-background {
  background-color: orange;
}

.orange-background:hover {
  background-color: rgb(255, 228, 181);
}

.green-border {
  border: 2px solid green;
  color: black;
  background-color: white;
}

.red-border {
  border: 2px solid red;
  color: black;
  background-color: white;
}

.red-border:hover,
.green-border:hover {
  background-color: lightgrey;
}
